@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h2 {
		@apply mb-6 text-4xl font-bold text-dark-grayish-blue md:text-5xl;
	}

	h3 {
		@apply mb-4 text-2xl font-bold text-dark-grayish-blue;
	}
}

.section-container {
	@apply mx-auto max-w-6xl px-10 text-center;
}

.p-small {
	@apply mx-auto max-w-md text-grayish-blue;
}

.p-wide {
	@apply mx-auto mb-24 max-w-3xl text-center text-xl leading-9 text-grayish-blue;
}

.button-container {
	@apply flex w-full flex-col justify-center space-y-6 px-10 text-xl text-white md:flex-row md:space-x-4 md:space-y-0;
}

header {
	background-image: url('../assets/bg-header-desktop.png');
	background-repeat: no-repeat;
	background-size: contain;
}

@media screen and (max-width: 576px) {
	header {
		background-image: url('../assets/bg-header-mobile.png');
	}
}
